<div class="error-modal-inner">
    <div class="modal-body">
        <div class="d-flex modal-body-inner">
            <img src="../../../assets/imgs/hagalil/emojy.svg" alt="">
            <div>
                <div translate>we_are_sorry</div>
                <div translate>server_call_fails</div>
                <div translate>try_again</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="goToSearchScreen()" translate>ok</button>
    </div>
</div>