<div class="success-modal-inner">
        <div class="modal-body">
            <div class="d-flex modal-body-inner">
                <!-- <img src="../../../assets/imgs/hagalil/emojy.svg" alt=""> -->
                <div>
                    <div translate>success</div>
                    <div translate>success_send_sms_msg</div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()" translate>close</button>
        </div> -->
    </div>