<div id="venue-container">
    <div class="home-component">
        <div id="map" class="map"></div>
        <div class="search">
            <input type="text" class="search-input px-5" placeholder="{{'search-placeholder-home-page' | translate}}"
                dir="rtl">
            <div class="search-icon"></div>
        </div>
        <div class="grad"></div>
        <div class="overlay" (tap)="startSearch()" (touchstart)="startSearch()" (click)="startSearch()"></div>
    </div>
    <div class="d-none">
        <img src="assets/imgs/start.svg" alt="" id="start-point">
        <div id="you-are-here" class="pb-5 px-3 d-flex justify-content-center align-items-center" translate>
            you-are-here
        </div>
    </div>
</div>