<div id="venue-container">
    <div class="home-component">
        <div id="map" class="map"></div>
        <div class="search">
            <input type="text" class="search-input px-5" placeholder="{{'where-do-you-want-to-go' | translate}}"
                dir="rtl">
            <div class="search-icon"></div>
        </div>
        
        <div class="grad"></div>
        <div class="overlay" (click)="startSearch()"></div>
    </div>
    <div class="d-none">
        <img [src]="startPointImgByVenueId" alt="" id="start-point">
        <div id="you-are-here" class="pb-5 px-3 d-flex justify-content-center align-items-center">
            <div class="pseudo-elem">
                {{'you-are-here' | translate }}

                <div class="before"></div>
                <div class="after"></div>
            </div>
        </div>
    </div>
</div>
<app-language-panel *ngIf="ds.isDesktop()"></app-language-panel>
<app-language-panel *ngIf="ds.isMobile()"></app-language-panel>
<app-loader></app-loader>
