#venue-container[venueid="12"] {
  @import "./themes/sourasky.theme";

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container[venueid="18"] {
  // @import "./themes/yafe.theme";
  @import "./themes/sourasky.theme";

  .direction-component {
    background: #9accef !important;
  }

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container[venueid="19"] {
  // @import "./themes/hagalil.theme";
  @import "./themes/sourasky.theme";

  .direction-component {
    background: #5e7fa1 !important;
  }

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container[venueid="20"] {
  // @import "./themes/yafe.theme";
  @import "./themes/ziv.theme";

  .direction-component {
    background: #48ACDE !important;
  }

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container[venueid="24"] {
  // @import "./themes/poria.theme";
  @import "./themes/poria.theme";

  .direction-component {
    background: #00a09f !important;
  }

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container[venueid="25"] {
  @import "./themes/barzilay.theme";

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}


#venue-container[venueid="27"] {
  @import "./themes/bneizion.theme";

  .direction-component {
    background: #48ACDE !important;
  }

  + app-language-panel #venue-container-language .if-mobile-then {
    padding: 0;

    .language-btn:nth-of-type(3),
    .language-btn:nth-of-type(4) {
      font-size: 12px !important;
    }
    .language-btn.active {
      right: 0;
    }
  }
}

#venue-container {
  width: 100%;
  height: 100%;
}
