.search-container {
  width: 100%;
  height: 100%;
  .search {
    display: flex;
    width: 83%;
    height: 140px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 5px #4a90e2;
    .search-icon {
      width: 10%;
      background-color: #4a90e2;
      background-image: url("../../../assets/imgs/search.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .search-input {
      width: 90%;
      border: none;
      font-size: 4.6em;
      font-weight: bold;
      color: #9b9b9b;
    }
  }
  .search-instruction {
    font-size: 3.1rem;
    font-weight: bold;
    color: #545454;
  }
  .category {
    width: 230px;
    height: 120px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #4a90e2;
    cursor: pointer;
    .category-name {
      font-size: 30px;
      font-weight: 500;
      color: #343434;
    }
    .icon {
      height: 47px;
    }
  }
  .show-more-results {
    max-height: calc(100% - (140px + 3rem + 75px)) !important;
  }
  .search-result-instr {
    font-size: 50px;
    font-weight: bold;
    color: #4f4f4f;
  }
  .search-results {
    position: absolute;
    top: calc(3rem + 140px);
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 83%;
    background-color: #fff;
    padding: 0;
    &::-webkit-scrollbar {
      width: 1em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8ec5d9;
    }
    &::-webkit-scrollbar-track {
      background-color: #ecedee;
    }
    li {
      list-style: none;
    }
    .currentLanguage {
      width: 45%;
      display: block;
      line-height: 1;
      font-size: 42px;
      font-weight: 500;
      color: #4a4a4a;
    }
    .secondaryLanguage {
      width: 45%;
      display: block;
      line-height: 1;
      font-size: 42px;
      font-weight: 500;
      color: #b1b1b1;
      text-align: right;
    }
    .show-more {
      position: sticky;
      background-color: #f1f1f1;
      display: block;
      width: 100%;
      height: 75px;
      bottom: 0;
      .show-more-label {
        font-size: 50px;
        font-weight: bold;
        color: #0277bd;
      }
      .hide-more-results-icon {
        transform: rotate(180deg);
      }
    }
  }
}
