@import "variables";

#start-point {
  height: 15px !important;
}
#you-are-here {
  background-color: $venue19;

  .pseudo-elem {
    background-color: $venue19;

    .before {
      border-top: 50px solid $venue19;
    }
  }
}
.home-component {
  background: linear-gradient(
    to bottom,
    #fafcfd 0%,
    #cddff0 13%,
    #cddff0 13%,
    #75a6d7 36%,
    #75a6d7 36%
  );
  height: 100vh;

  .overlay {
    top: 75px;
  }
  .search {
    width: 87%;
    top: 153px;
    left: 50%;
    height: 141px;
    background-color: $color-white;
    border: solid 2px $venue19;
    box-shadow: 0 2px 4px 0 $color-black-half;

    .search-icon {
      background-color: $venue19;
    }

    .search-input {
      color: $venue19;

      &::-webkit-input-placeholder {
        color: $venue19;
      }
    }
  }
}
