@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "variables-yafe";


:host /deep/ .mapboxgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#start-point {
  width: 15px !important;
  height: 15px !important;
}
#you-are-here {
  background-image: url("../../../assets/imgs/hagalil/u-r-here.svg");
  background-repeat: no-repeat;
  background-size: 300px 111px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  min-height: 99px;
  width: auto;
  font-family: Open Sans Hebrew, sans-serif;
  min-width: 285px;
  z-index: 1;
}
.home-component {
  position: relative;
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .grad {
    width: 100%;
    height: 76vh;
    object-fit: contain;
    transform: rotate(-180deg);
    opacity: 0.64;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 75px);
    z-index: 2;
  }
  .search {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 83%;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 5px #696969;
    .search-icon {
      width: 10%;
      background-color: #696969;
      background-image: url("../../../assets/imgs/search.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    
    .search-input {
      width: 90%;
      border: none;
      font-size: 5.6em;
      font-weight: bold;
      background-color: #fff;
      font-family: $OSHebrew;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: #696969;
      }
    }
  }
}
