@import "variables";

#start-point {
  width: 15px;
  height: 56px;
}

#you-are-here {
  background-color: $color-black;

  .pseudo-elem {
    background-color: $color-black;

    .before {
      border-top: 50px solid $color-black;
    }
  }
}

.home-component {
  .badge-container {
    width: 1658px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 7%;

    .badge-styled-block {
      background: #4a4a4a;
      box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.3);
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      width: 274px;
      height: 74px;

      div {
        color: #fff;
        font-size: 28px;
        font-family: $OSSimple;
        font-weight: bold;
      }
    }
  }


  .grad {
    background-image: linear-gradient(
        $color-white-invisible,
        $color-white-invisible
      ),
      linear-gradient(to bottom, $color-black-invisible, $color-black-half);
  }
  .search {
    width: 1664px;
    top: 140px;
    left: 50%;
    height: 15vh;
    background-color: $venue24;
    border: solid 5px $venue24;

    .search-icon {
      background-color: $venue24;
    }

    .search-input {
      color: $gray-text-4;

      &::-webkit-input-placeholder {
        color: $gray-text-4;
      }
    }
  }
}
