@import "variables";

#start-point {
  width: 15px;
  height: 56px;
}

#you-are-here {
  background-color: $color-black;

  .pseudo-elem {
    background-color: $color-black;

    .before {
      border-top: 50px solid $color-black;
    }
  }
}

.home-component {
  .grad {
    background-image: linear-gradient(
        $color-white-invisible,
        $color-white-invisible
      ),
      linear-gradient(to bottom, $color-black-invisible, $color-black-half);
  }
  .search {
    width: 1664px;
    top: 240px;
    left: 50%;
    height: 15vh;
    background-color: $venue24;
    border: solid 5px $venue24;

    .search-icon {
      background-color: $venue24;
    }

    .search-input {
      color: $gray-text-1;

      &::-webkit-input-placeholder {
        color: $gray-text-1;
      }
    }
  }
}
