@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "variables";


:host /deep/ .mapboxgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#start-point {
  width: 15px;
  height: 56px;
}
#you-are-here {
  // background-image: url("../../../assets/imgs/u-r-here.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // font-family: $almoni;
  // font-size: 45px;
  // font-weight: bold;
  // color: #ffffff;
  // text-align: center;
  // min-width: 180px;
  // min-height: 99px;
  // z-index: 1;

  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  height: 56px;
  background: #4a90e2;
  padding: 0 !important;
  border-radius: 5px;
  border: 2px solid #fff;
  width: auto;
  font-family: $OSHebrewBold;
  z-index: 1;

    .pseudo-elem {
      padding: 0 20px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: #4a90e2;

      .before {
        display: block;
        position: absolute;
        bottom: -42px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 15px solid transparent;
        border-top: 50px solid #4a90e2;
        transform: rotate(20deg);
      }
      .after {
        display: block;
        position: absolute;
        bottom: -52px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-top: 58px solid #fff;
        transform: rotate(20deg);
        z-index: -1;
      }
    }
}
.home-component {
  position: relative;
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .grad {
    width: 100%;
    height: 76vh;
    object-fit: contain;
    transform: rotate(-180deg);
    opacity: 0.64;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.81));
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 75px);
    z-index: 2;
  }
  .search {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 83%;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 5px #4a90e2;
    .search-icon {
      width: 10%;
      background-color: #4a90e2;
      background-image: url("../../../assets/imgs/search.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    
    .search-input {
      width: 90%;
      border: none;
      font-size: 80px;
      font-weight: bold;
      color: $gray-text-1;
      font-family: $OSHebrew;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: $gray-text-1;
      }
    }
  }
}
