@import "variables";

#start-point {
  height: 56px;
}

#you-are-here {
  background-color: $venue12;

  .pseudo-elem {
    background-color: $venue12;

    .before {
      border-top: 50px solid $venue12;
    }
  }
}
.home-component {
  .grad {
    background-image: linear-gradient(
        $color-white-invisible,
        $color-white-invisible
      ),
      linear-gradient(to bottom, $color-black-invisible, $color-black-half);
  }
  .search {
    width: 1664px;
    top: 240px;
    left: 50%;
    height: 15vh;
    background-color: $color-white;
    border: solid 5px $venue12;

    .search-icon {
      background-color: $venue12;
    }

    .search-input {
      color: $gray-text-1;

      &::-webkit-input-placeholder {
        color: $gray-text-1;
      }
    }
  }
}
