@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "variables-yafe";


:host /deep/ .mapboxgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#start-point {
  width: 15px !important;
  height: 15px !important;
}
#you-are-here {
  background-image: url("../../../assets/imgs/yafe-u-r-here.png");
  background-repeat: no-repeat;
  background-size: 285px 103px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  min-height: 99px;
  width: auto;
  font-family: Open Sans Hebrew, sans-serif;
  min-width: 285px;
  z-index: 1;
}
.home-component {
  position: relative;
  background: linear-gradient(to bottom, #5ca0c6 0%,#9dcaee 100%,#1e5799 100%,#2989d8 102%);
  height: 100vh;

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .grad {
    display: none;
  }
  .overlay {
    // position: absolute;
    // top: 75px;
    // left: 0;
    // width: 100vw;
    // height: calc(100vh);
    // z-index: 2;
  }
  .search {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 87%;
    top: 153px;
    left: 50%;
    transform: translateX(-50%);
    height: 141px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px $main-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .search-icon {
      width: 10%;
      background-color: $main-color;
      background-image: url("../../../assets/imgs/search.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    
    .search-input {
      width: 90%;
      border: none;
      font-size: 80px;
      font-weight: bold;
      color: $main-color;
      font-family: $OSHebrew;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: $main-color;
      }
    }
  }
}
