@import "variables";

#start-point {
  height: 15px !important;
}
#you-are-here {
  background-color: $venue18;

  .pseudo-elem {
    background-color: $venue18;

    .before {
      border-top: 50px solid $venue18;
    }
  }
}
.home-component {
  background: linear-gradient(
    to bottom,
    #5ca0c6 0%,
    #9dcaee 100%,
    #1e5799 100%,
    #2989d8 102%
  );
  height: 100vh;

  .grad {
    display: none;
  }
  .overlay {
    top: 75px;
  }
  .search {
    width: 87%;
    top: 153px;
    left: 50%;
    height: 141px;
    background-color: $color-white;
    border: solid 2px $venue18;
    box-shadow: 0 2px 4px 0 $color-black-half;

    .search-icon {
      background-color: $venue18;
    }

    .search-input {
      color: $venue18;

      &::-webkit-input-placeholder {
        color: $venue18;
      }
    }
  }
}
