@import "variables-yafe";

#start-point {
  height: 15px !important;
}

#you-are-here {
  background-color: $venue20;

  .pseudo-elem {
    background-color: $venue20;

    .before {
      border-top: 50px solid $venue20;
    }
  }
}
.home-component {
  background: linear-gradient(
    to bottom,
    #98c4d8 0%,
    #45a5d5 30%,
    #45a5d5 30%,
    #48acde 50%,
    #48acde 50%
  );
  height: 100vh;

  .grad {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../../../assets/imgs/grad.svg");
    z-index: -1;
  }
  .overlay {
    top: 75px;
  }
  .search {
    width: 87%;
    top: 153px;
    left: 50%;
    height: 141px;
    border-radius: 4px;
    background-color: $color-white;

    .search-icon {
      background-color: $venue20;
    }

    .search-input {
      color: $venue19;

      &::-webkit-input-placeholder {
        color: $venue19;
      }
    }
  }
}
