@import "variables-yafe";

#start-point {
  height: 15px !important;
}

#you-are-here {
  background-color: #696969;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);

  .pseudo-elem {
    background-color: #fff;
    padding: 5px 20px;
    color: #696969;

    .before {
      border-top: 50px solid #fff;
    }
  }
}
.home-component {
  background: #fef1e3;
  height: 100vh;

  .grad {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../../../assets/imgs/grad.svg");
    transform: none;
  }
  .overlay {
    top: 75px;
  }
  .search {
    width: 87%;
    top: 153px;
    left: 50%;
    height: 141px;
    border-radius: 4px;
    background-color: $color-white;

    .search-icon {
      background-color: $venue20;
    }

    .search-input {
      color: $venue19;

      &::-webkit-input-placeholder {
        color: $venue19;
      }
    }
  }
}
