<div id="venue-container-language">
    <div class="language-panel" 
    [ngClass]="{
        'if-mobile-then': ds.isMobile(), 
        'lang-panel-bottom': venueId !== 12 && languagePanelOnTheBottom, 
        'hagalil-panel-color': languagePanelHagalil
    }">
        <button class="language-btn" *ngFor="let lang of languages" [ngClass]="{
                'active': lang.name === currentLanguage.name, 
                'hide': !showAnotherLanguages && lang.name !== currentLanguage.name && !showAllLanguages,
                'short': !showAnotherLanguages && lang.name === currentLanguage.name && !showAllLanguages
            }"
            (click)="selectLanguage(lang)">
            <img src="assets/imgs/lang-icon.svg" alt="" *ngIf="lang.name === currentLanguage.name" class="lang-icon">
            {{showAnotherLanguages || showAllLanguages ? lang.displayName : lang.shortName}}
        </button>
    </div>
</div>