<div class="language-panel">
    <div *ngFor="let lang of languages" class="language-btn-container">
        <button class="language-btn" [ngClass]="{'active': lang.name === currentLanguage.name}" (click)="selectLanguage(lang)" *ngIf="showAnotherLanguages || lang.name === currentLanguage.name">
            <img src="assets/imgs/lang-icon.svg" alt="" *ngIf="lang.name === currentLanguage.name" class="lang-icon"> {{showAnotherLanguages ? lang.displayName : lang.shortName}} 
        </button>
    </div>
</div>
