@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "variables";

.marker-number {
  background-color: #eb2381;
}
.direction-component {
  width: 100%;
  height: 100%;
  #map {
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 132px;
    background-color: #005baf;
    box-shadow: none;
    .destination-icon-header {
      width: 78px;
      height: 91px;
      div {
        display: none;
      }
    }
    .poi-name {
      font-size: 45px;
      color: $color-white;
      font-family: $OSHebrew;
      line-height: 1;
      font-weight: normal;
    }
    .poi-location {
      font-size: 50px;
      line-height: 1;
      font-weight: bold;
      font-family: $OSHebrew;
      color: $color-white;
    }
    .back-btn {
      width: 210px;
      height: 74px;
      padding-right: 15px;
      padding-left: 15px;
      background-color: $venue25;
      font-size: 40px;
      font-weight: bold;
      font-family: $OSHebrew;
      color: #ffffff;
      border: none;
      img {
        margin-top: -4px;
        // transform: translateY(-50%) rotate(180deg);
      }

    }
  }
  .loaded {
    left: 18% !important;
  }
  .instructions-container {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 475px;
    transition: left 3s ease;
    box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.3);
    .instruction-header {
      position: relative;
      width: 100%;
      min-height: 80px;
      padding-right: 16px;
      padding-left: 84px;
      background-color: #fff;

      &-img {
        position: absolute;
        width: 48px;
        top: 50%;
        left: 20px;
        text-align: center;
        transform: translateY(-50%);
      }
    }
    .instruction-footer {
      display: none;
      min-height: 80px;
      width: 100%;
      justify-content: space-around;
      background-color: #fff;

      .sms-icon {
        width: 42px;
        height: 37px;
      }
      .send-instr {
        font-size: 25px;
        font-weight: bold;
        color: $venue25;
        padding-right: 16px !important;
        font-family: $OSHebrew;
      }
      .input-block {
        padding-right: 15px;
        padding-left: 15px;
        background-color: #eeecec;
        font-size: 20px;
        line-height: 26px;
        color: $venue25;
        font-family: $OSHebrew;
      }
    }
    .instruction-title {
      font-size: 50px;
      font-family: $OSHebrew;
      font-weight: bold;
      line-height: 60px;
      color: $venue25;
    }
    .instruction {
      display: none;
      animation: fadein 1s;
      margin-bottom: 2px;

      .start-text-instruction {
        padding: 0 15px;

        &:before {
          display: none;
        }
      }

      &:nth-of-type(2) {
        .text-instr:before {
          height: calc(50% + 2px);
          top: 50%;
        }
      }

      &:last-child {
        .text-instr {

          img {
            width: 47px;
            height: 55px;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:before {
            height: 50%;
          }
        }
      }

      li {
        list-style: none;
      }
      .level {
        background-color: #eb2381;
        height: 40px;
        font-size: 30px;
        font-weight: bold;
        padding-right: 23px !important;
        letter-spacing: -0.1px;
        color: #ffffff;
        font-family: $OSHebrew;
        border-bottom: 2px solid $color-white;
      }
      .text-instr {
        min-height: 80px;
        padding: 15px;
        background-color: $venue25;
        font-family: $OSHebrew;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #ffffff;
        position: relative;

        &:before {
          content: "";
          top: 0;
          left: 38px;
          position: absolute;
          width: 8px;
          height: calc(100% + 2px);
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          background-color: #eb2381;
        }

        &.instruction-item {
          .custom-step-before {
            display: flex;
            align-items: center;

            &:before {
              content: "";
              display: block;
              min-width: 26px;
              height: 44px;
              margin-right: 15px;
              background-image: url('/assets/imgs/lift.svg');
              background-size: cover;
            }
          }
        }
      }
      .instruction-number {
        padding: 0 17px;
        height: 50px;
        width: 50px;
        border: 1px solid #fff;
        background: #eb2381;
        border-radius: 50%;
        font-family: $OSHebrew;
        font-size: 36px;
        font-weight: bold;
        position: absolute;

        + div {
          padding-right: 71px !important;
        }
      }
      .instruction-number-icon {
        min-width: auto;
        margin-left: 0;
        // border-radius: 15px;
        // margin-right: -5px;
        // width: 60px;
        // height: 50px;
        // padding: 0 5px;

        .icon {
          display: none;
          // width: 20px;
          // height: 33px;
          // padding: 0 !important;
        }
      }
      .destination-icon {
        width: 46px;
        height: 46px;
        position: absolute;

        + div {
          padding-right: 68px !important;
        }
      }
    }
  }

  .toggle-layers {
    font-size: 25px;
    position: absolute;
    top: 155px;
    right: 30px;
    background: $venue25;
    color: #fff;
    height: auto;
    padding: 18px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}