@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "variables-yafe";

.marker-number {
  background-color: #2f3181;
}
.direction-component {
  width: 100%;
  height: 100%;
  background-color: #00a09f;

  #map {
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 132px;
    z-index: 1;
    .destination-icon-header {
      width: 78px;
      height: 91px;
    }

    .poi-data-name {
      max-width: 645px;
      padding-bottom: 30px;
      margin-top: 75px;
      border-bottom: 5px solid #fff;
      margin-left: 30px;
      width: 34%;
    }
    .poi-name {
      font-size: 45px;
      color: $color-white;
      font-family: $OSHebrew;
      line-height: 1;
      font-weight: normal;
    }
    .poi-location {
      font-size: 52px;
      line-height: 1;
      font-weight: bold;
      font-family: $OSHebrew;
      color: $color-white;
    }
    .back-btn {
      width: 210px;
      height: 74px;
      background-color: #696969;
      font-size: 45px;
      font-family: $OSHebrewBold;
      color: $color-white;
      border: none;
      position: absolute;
      right: 54px;
      top: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

      img {
        transform: rotate(180deg);
        margin-top: -4px;
        margin-right: -10px;
        margin-left: 11px;
      }
    }
  }
  .load-background {
    .direction-start-instruction {
      display: flex;
    }
  }

  .instructions-container {
    background-image: linear-gradient(
      to right,
      #2f3181,
      #00529b,
      #006fa6,
      #0089a5,
      #00a09f
    );

    padding-top: 200px;
    padding-left: 10px;
    padding-right: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -120%;
    transition: all 0.6s ease;
    transition-delay: 1.6s;
    width: 700px;

    ul {
      padding-left: 110px !important;
      height: 90%;
      direction: rtl;
      overflow-y: auto;

      &::-webkit-scrollbar-button:single-button {
        background-color: #fff;
        display: block;
        height: 28px;
        width: 28px;
      }

      /* Up */
      &::-webkit-scrollbar-button:single-button:vertical:decrement {
        background-image: url("/src/assets/imgs/poria/up-arrow.svg");
        background-size: 20px;
        background-position: 50%;
        background-repeat: no-repeat;
      }

      /* Down */
      &::-webkit-scrollbar-button:single-button:vertical:increment {
        background-image: url("/src/assets/imgs/poria/down-arrow.svg");
        background-size: 20px;
        background-position: 50%;
        background-repeat: no-repeat;
      }

      &::-webkit-scrollbar {
        width: 28px;
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: #fff;
        background-image: url(https://karafetov.com/images/manu.png);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }

    .instruction-header {
      width: 100%;
      padding: 0 !important;

      img {
        display: none;
      }
    }

    .instruction-footer {
      display: none;
      width: 596px;
      justify-content: space-around;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      height: 50px;
      left: 75px;
      padding: 0 10px !important;

      .sms-icon {
        width: 40px;
        height: 35px;
      }
      .send-instr {
        font-size: 22px;
        font-weight: bold;
        color: #2f3181;
        padding-right: 16px !important;
        padding-left: 0 !important;
        font-family: $OSHebrewBold;
      }
      .input-block {
        width: 289px;
        height: 28px;
        background-color: #2f3181;
        font-size: 18px;
        color: #fff;
        font-family: $OSHebrewRegular;
      }
    }
    .instruction-title {
      font-size: 50px;
      font-family: $OSHebrew;
      font-weight: bold;
      color: $color-white;
      padding: 0 !important;
      display: none;
    }
    .instruction {
      display: none;
      animation: fadein 1s;
      border-bottom: 1px solid $color-white;
      position: relative;

      &:before {
        content: "";
        height: 88px;
        border-right: 3px dotted #fff;
        position: absolute;
        left: -65px;
        top: 50%;
      }

      &:after {
        content: "";
        background: #2f3181;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 5px solid #fff;
        position: absolute;
        left: -73px;
        top: 35px;
      }

      &.right.outer-image {
        &:before {
          width: 42px;
          border-top: 3px dotted #fff;
        }

        &:after {
          display: none;
        }

        & ~ .instruction {
          &:before {
            width: 42px;
          }

          &:after {
            left: -34px;
          }
        }
      }

      &.left.outer-image {
        &:before {
          border-top: 3px dotted #fff;
          border-right: 0;
          border-left: 3px dotted #fff;
        }

        &:after {
          display: none;
        }

        & ~ .instruction {
          &:after {
            left: -73px;
          }

          &:before {
            width: 0;
          }
        }
      }

      .start-text-instruction {
        padding: 0 0 0 65px;
      }

      &:nth-last-child(2) {
        .instruction-number:before {
          display: none;
        }
      }

      li {
        list-style: none;
      }
      .level {
        display: none !important;
        background-color: #3d6faa;
        height: 41px;
        font-size: 28px;
        font-weight: bold;
        padding-right: 23px !important;
        letter-spacing: -0.1px;
        color: #ffffff;
        font-family: $OSHebrew;
        border-bottom: 2px solid $color-white;
      }
      .text-instr {
        height: 88px;
        padding-right: 32px;
        font-family: $OSHebrew;
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
      .instruction-number {
        padding: 0 !important;
        font-family: "OS Hebrew Light", sans-serif;
        font-size: 60px;
        font-weight: 300;
      }
      .instruction-number-icon {
        border-radius: 15px;
        width: 34px;
        height: 50px;
        padding: 0 5px;

        .icon {
          width: 27px;
          height: 45px;
          padding: 0 !important;
          position: absolute;
          left: -58px;
        }

        & + div {
          padding-left: 20px !important;
        }
      }
      .destination-icon {
        // width: 46px;
        height: 46px;
        position: absolute;

        + div {
          // padding-right: 70px !important;
          padding-left: 50px !important;
        }
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    &.loaded {
      left: 0;
    }
  }

  .toggle-layers {
    font-size: 25px;
    position: absolute;
    top: 155px;
    right: 30px;
    background: #4a90e2;
    color: #fff;
    height: auto;
    padding: 18px;
  }
}

.direction-start-instruction {
  padding: 15px;
  display: none;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 65px;
    height: 80px;
    border-left: 3px dotted #fff;
    border-top: 3px dotted #fff;
    border-top-left-radius: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
  }

  p {
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    font-family: $OSHebrew;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
