@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'variables';

.marker-number {
  padding: 0 17px;
  height: 46px;
  width: 46px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  background-color: #358fe9;
  color: #fff;
  animation: fadein 1s;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
}
.marker-number-icon {
  border-radius: 15px;
  padding: 0 4px;
  width: 60px;
  .icon {
    width: 20px;
    height: 33px;
  }
}
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#destination-point-circle {
  width: 32px;
  height: 32px;
}
#destination-point {
  width: 57.4px;
  height: 57.4px;
}
#start-point {
  width: 56px;
  height: 56px;
}
.direction-component {
  width: 100%;
  height: 100%;
  #map {
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 132px;
    background-color: #358fe9;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
    .destination-icon-header {
      width: 78px;
      height: 91px;
    }
    .poi-name {
      font-size: 45px;
      color: $color-white;
      font-family: $OSHebrew;
      line-height: 1;
      font-weight: normal;
    }
    .poi-location {
      font-size: 50px;
      line-height: 1;
      font-weight: bold;
      font-family: $OSHebrew;
      color: $color-white;
    }
    .back-btn {
      width: 210px;
      height: 74px;
      background-color: $color-white;
      font-size: 45px;
      font-weight: bold;
      font-family: $OSHebrew;
      color: #358fe9;
      border: none;
    }
  }
  .loaded {
    left: 18% !important;
  }
  .instructions-container {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 475px;
    transition: left 3s ease;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
    .instruction-header {
      height: 81px;
      width: 100%;
      background-color: #fff;
    }
    .instruction-footer {
      display: none;
      height: 81px;
      width: 100%;
      background-color: #fff;
      .sms-icon {
        width: 42px;
        height: 37px;
      }
      .send-instr {
        font-size: 25px;
        font-weight: bold;
        color: #3e6b9c;
      }
      .input-block {
        width: 219px;
        height: 26px;
        background-color: rgba(0, 0, 0, 0.28);
        font-size: 20px;
        color: #ffffff;
      }
    }
    .instruction-title {
      font-size: 50px;
      font-family: $OSHebrew;
      font-weight: bold;
      color: #3e6b9c;
    }
    .instruction {
      display: none;
      animation: fadein 1s;
      border-bottom: 1px solid #93bbea;
      li {
        list-style: none;
      }
      .level {
        background-color: #3d6faa;
        height: 41px;
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        font-family: $OSHebrew;
        border-bottom: 1px solid #93bbea;
      }
      .text-instr {
        height: 74px;
        background-color: #4a90e2;
        font-size: 22px;
        font-family: $OSHebrew;
        font-weight: bold;
        color: #ffffff;
      }
      .instruction-number {
        padding: 0 17px;
        height: 46px;
        width: 46px;
        border: 1px solid #fff;
        border-radius: 50%;
        font-family: $OSHebrew;
        font-size: 36px;
        font-weight: bold;
      }
      .instruction-number-icon {
        border-radius: 15px;
        padding: 0 4px;
        .icon {
          width: 26px;
        }
      }
      .destination-icon {
        width: 46px;
        height: 46px;
      }
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
