@import 'variables';

html[lang="am"] {
    .search-container {
        .search {
            input, div {
                font-family: $noto-b !important;
            }
        }
    
        ul + h1 {
            font-family: $noto-b !important;
        }
    
        .category-name {
            font-family: $noto-r !important;
            font-size: 20px !important;
        }
    }

    #you-are-here {
        font-family: $noto-b !important;
    }
}

html[lang="am"] #venue-container[venueid="18"],
html[lang="am"] #venue-container[venueid="19"],
html[lang="am"] #venue-container[venueid="20"],
html[lang="am"] #venue-container[venueid="27"] {
    .home-component {
        .search-input  {
            font-family: $noto-b !important;
        }
    }

    .search-results {
        ul li {
            .currentLanguage {
                font-family: $noto-b !important;
                // font-weight: 500 !important;
                font-size: 40px !important;
            }

            .secondaryLanguage {
                color: #4a4a4a !important;
                font-family: $OSHebrewRegular !important;
            }

            .show-more-label {
                font-family: $noto-b !important;
            }
        }
    }

    .category-container {
        .category-name  {
            font-family: $noto-sb !important;
            font-size: 70px !important;
        }

        .pois {
            .currentLanguage {
                color: #4f4f4f !important;
                font-size: 40px !important;
                font-family: $noto-r !important;
            }

            .secondaryLanguage {
                color: #959393 !important;
                font-family: $OSHebrewLight !important;
            }
        }
    }

    .direction-component {

        .instruction-footer {
      
            .send-instr {
                font-size: 14px !important;
                font-family: $noto-b;
            }
            .input-block {
                font-size: 14px !important;
                font-family: $noto-r;
            }
        }

        .header {
            .back-btn {
                font-size: 40px !important;
                font-family: $noto-b;

                img {
                    margin-right: -5px !important;
                    margin-left: 10px !important;
                }
            }
        }
    }
}

html[lang="fr"],
html[lang="pt"],
html[lang="es"] {
    .search-container {

        h1 {
            color: #9b9b9b !important;
        }

        .category-name {
            // top: 62% !important;
            font-size: 24px !important;
        }
    }
}
