@import 'variables';

html[lang="ar"] #venue-container[venueid="18"] {
    .home-component {
        .search-input  {
            font-family: $mariad !important;
            font-size: 100px !important;
        }

        #you-are-here {
            font-family: $mariad;
            font-size: 45px;

            .pseudo-elem {
                padding: 0 40px !important; 
            }
        }
    }

    .search-container {
        .search-input {
            font-size: 80px !important;
            font-family: $mariad !important;
        }

        .search-instruction {
            font-family: $mariad !important;
            margin-bottom: 0;
            font-size: 55px !important;
        }

        .category-name {
            font-family: $mariad-r !important;
            font-size: 30px !important;
            line-height: .73 !important;
            padding: 0 15px;
            bottom: 7px !important;
        }
    }
}