@import 'variables';

html[dir="ltr"] #venue-container[venueid="12"] {

    header {
        .back-btn img {
            transform: none !important;
        }
    }

    .instruction-number-icon {
        border-radius: 15px;
        margin-left: -3px;
        min-width: 52px;
        height: 47px;
        
        .icon {
            width: 18px !important;
            height: 30px !important;
            padding: 0 !important;
        }
    }

    .marker-number {
        font-size: 40px;
        font-weight: 800;
    }

    .marker-number-icon {
        direction: rtl;
    }
      
    .start-text-instruction {
        padding-left: 85px !important;
    }

    .instructions-container {
        .instruction {

            .destination-icon {
                + div {
                    padding-left: 70px !important;
                }
            }

            .text-instr {
                font-size: 25px;
            }
    
            .level {
                padding-left: 29px !important;
            }
            
            .instruction-number {
                height: 46px;
                width: 46px;
                direction: rtl;
    
                &:before, &:after {
                    height: 17px !important;
                }
    
                + div {
                    padding-right: 0 !important;
                    padding-left: 70px !important;
                }
    
                .instruction-icon {
                    width: 19px !important;
                    height: 23px !important;
                }
            }
        }

        .instruction-footer {
            justify-content: space-between;
            height: 74px;

            .send-instr {
                font-size: 22px;
                padding: 0 7px !important;
            }
        }
    }

    #you-are-here {
        font-family: $OSSimple !important;
        font-size: 30px !important;
        min-width: 224px !important;
        min-height: 113px !important;
        background-size: 224px 115px !important;
    }
}