html[lang="pt"] #venue-container[venueid="24"] {
  #you-are-here {
    font-size: 35px !important;
  }

  .direction-component {
    .header {
      .back-btn {
        width: 230px !important;
      }
    }
  }

  .search-container {
    .search {
      .search-input {
        font-size: 48px !important;
      }
    }
  }
}
