@import 'variables';

html[dir="rtl"] {
	#venue-container[venueid="25"] {

		.direction-component {
	
			.header {
				padding-right: 100px!important;
				padding-left: 87px!important;

				.back-btn {
	
					img {
						margin-right: 24px;
						margin-left: 0;
					}
	
				}
			}

			.instructions-container {
				right: 50%!important;
				left: auto!important;
				box-shadow: -15px 15px 40px 0 rgba(0, 0, 0, 0.3);
				transform: translateX(50%);
				transition: right 3s ease;

				.instruction-header {					
					padding-right: 84px;
					padding-left: 16px;

					&-img {
						right: 20px;
						left: auto;
						text-align: left;
					}
				}

				.instruction {

					.level {
						padding-right: 84px!important;
					}

					.text-instr {
						padding-right: 84px;
						font-size: 23px;

						&:before {
							right: 38px!important;
						}

						&.instruction-item {
							.custom-step-before {
								&:before {
									margin-right: 0;
									margin-left: 15px;
								}
							}
						}

					}

					&-number {
						width: 48px;
						height: 48px;
						top: 50%;
						right: 18px;
						font-size: 34px;
						border-width: 2px;
						transform: translateY(-50%);

						& +div {
							padding-right: 68px!important;
							line-height: 1.3;
						}
					}

					&:last-child {
						.text-instr {
							img {
								right: 18px;
								left: unset;
							}
						}
					}

					&-footer {
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center !important;
						position: relative;
						height: 80px;
						padding: 6px 84px 12px 16px;

						&-img {
							position: absolute;
							width: 46px;
							top: 50%;
							right: 20px;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
						}

						.send-instr {
							margin-left: 16px;
							padding-right: 0!important;
						}
					}
				}

				&.loaded {
					right: 87px !important;
				}
			}

			.marker-number.multi-instructions{
				.child {
					border-right: none!important;
					border-left: 1px solid #fff !important;

					&:last-child {
						border-left: none!important;
					}
				}
			}
	
		}

		.start-text-instruction {
			padding-right: 84px;
		}
	
	}

	.custom-modal.custom-modal-25 {
		right: 87px;
		left: auto;
		box-shadow: -15px 15px 40px 0 rgba(0, 0, 0, 0.3);
		transform: none !important;

		.send-sms-modal-inner {
			.instruction.blue-emojy {
				&:before {
					margin-right: 0;
					margin-left: 10px;
				}
			}

			.sms-input {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}

}