@import 'variables-yafe';


html[dir="rtl"] {

  body[venueid="27"] {

    .custom-modal-20 {
      .close-modal-image {
        justify-content: flex-start !important;
      }
    }

    .custom-modal.custom-modal-27 {

      margin-right: 58px;

      .send-sms-modal-inner {

        .sms-input {
          margin-right: 0;
          margin-left: 10px;
        }

        .instruction {
          &.blue-emojy {
            &:before {
              margin-right: 0;
              margin-left: 10px;
            }
          }
        }

      }

    }
  }

  #venue-container[venueid="27"] {

    .direction-component {

      .instructions-container {
        padding-right: 50px !important;
        left: auto;
        right: 50%;
        padding-left: 30px;
        left: auto;

        &.loaded {
            right: 0;
        }

        ul {
          padding-left: 16px !important;
          padding-right: 86px !important;

          #destination-instr {
              div {
                  
                  padding-right: 11px !important;
                  padding-left: 0 !important;
              }
          }
        }

        .instruction {
          .text-instr {
            font-size: 30px;
            padding-right: 0 !important;
            padding-left: 0 !important;

            &.start-text-instruction {
              padding-right: 50px !important;
            }
          }

          &:before {
              content: '';
              height: 88px;
              border-right: 3px dotted #fff;
              // border-right: 0;
              position: absolute;
              right: -78px;
              top: 50%;
            }
      
          &:after {
            content: '';
            background: $main-color;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 5px solid #fff;
            position: absolute;
            right: -86px;
            top: 35px;
          }

          &.right.outer-image {
      
            &:before {
                width: 42px;
                border-top: 3px dotted #fff;
                border-left: 3px dotted #fff;
                border-right: 0;
            }
    
            &:after {
              display: none;
            }
    
            & ~ .instruction {
              &:before {
                width: 42px;
                border-left: 3px dotted #fff;
                border-right: 0;
              }
    
              &:after {
                right: -47px;
              }
            }
          }
        
          &.left.outer-image {
            &:before {
                border-top: 3px dotted #fff;
                // border-right: 0;
                border-left: 0 !important;
                border-right: 3px dotted #fff !important;
            }
    
            &:after {
              display: none;
            }
    
            & ~ .instruction {
              &:after {
                right: -86px;
                // border-left: 0;
                // border-right: 3px dotted #fff;
              }
    
              &:before {
                width: 0;
              }
            }
          }

          .instruction-number-icon .icon {
            right: -72px;
            left: unset;
          }

          &#start-instr {
            &:after {
              right: -75px;
              left: auto;
            }
          }
        }

        .instruction-footer {
          right: 59px;

          .input-block,
          .send-instr {
            font-size: 20px;
          }

        }
    }

    .header {
      .destination-icon-header {
        margin-left: 25px;
      }
    }
  }

  .direction-component {
      // background: -webkit-linear-gradient(left, #9accef 0%, #9ACCEF 79%, #00729a 96%);

      .header .back-btn {
        right: unset !important;
        left: 54px;

        img {
          transform: unset;
        }
      }
      

      .header .poi-data-name {
        width: 100%;
        max-width: 594px;
        margin-right: 37px;
        margin-left: 0;
      }

      .instructions-container {

        .instruction-header {
          padding-right: 134px !important;
          padding-left: 0 !important;

          &:after {
            right: auto;
            left: 0;
          }

          &-img {
            right: 91px;
            left: auto;
          }

        }

      }
  }
  }

}
