@import 'variables';

html[lang="ru"] #venue-container[venueid="12"] {
    .search-container {
        .category-name {
            top: unset !important;
            bottom: 10px;
            padding: 0 10px;
            font-family: $OSSimple !important;
        }
    }
}

html[lang="ru"] #venue-container[venueid="18"],
html[lang="ru"] #venue-container[venueid="19"],
html[lang="ru"] #venue-container[venueid="20"] {
    .home-component {

        #you-are-here {
            font-family: $OSSimple;
        }
    }

    .search-container {
        .search-input {
            font-family: $OSSimple !important;
        }
    }

    .direction-component {

        .instruction-footer {
      
            .send-instr {
                
            }
            .input-block {
                
            }
        }

        .header {
            .back-btn {
                font-family: $OSSimple;
                font-weight: bold;

                img {
                    margin-right: -5px !important;
                    margin-left: 0px !important;
                }
            }
        }
    }
}

html[lang="ru"] #venue-container[venueid="12"] {
    .search-container {
        .search-input {
            font-family: $OSSimple !important;
        }

        .search-instruction,
        .category-name {
            font-family: $OSSimple !important;
        }

        .category-name {
            top: unset !important;
            bottom: 10px;
            padding: 0 10px;
        }
    }
   
    .search-result-instr {
        font-family: $OSSimple;
        font-size: 36px !important;
    }

    .home-component {
        .search-input {
            font-size: 72px !important;
            font-family: $OSSimple !important;
        }

        .search,
        #you-are-here {
            font-family: $OSSimple !important;
        }
    }
}