$OSHebrew: 'OS Hebrew';
$OSHebrewBold: 'OS Hebrew Bold';
$OSHebrewExtra: 'OS Hebrew Extra';
$OSHebrewLight: 'OS Hebrew Light';
$OSHebrewRegular: 'OS Hebrew Regular';
$OSSimple: 'Open Sans', sans-serif;
$OSRegular: 'OS Regular', sans-serif;
$OSSemi: 'OS Semibold';
$arial: 'ArialMT';
$almoni: Almoni;

$noto-b: "Noto Bold";
$noto-r: "Noto Regular";
$noto-sb: "Noto SemiBold";
$noto-m: "Noto Medium";

$lucida: 'Lucida';
$lucidaBold: 'Lucida Bold';
$mariad: 'Mariad Arabic';
$mariad-r: 'Mariad Arabic Regular';


$gray-text-1: #9b9b9b;
$gray-text-2: #555454;
$gray-text-3: #343434;
$gray-text-4: #4a4a4a;
$color-white: #fff;
