$OSHebrew: 'Open Sans Hebrew', sans-serif;
$OSSimple: 'Open Sans', sans-serif;
$almoni: Almoni;

$noto-b: "Noto Bold";
$noto-r: "Noto Regular";
$noto-sb: "Noto SemiBold";

$gray-text-1: #9b9b9b;
$gray-text-2: #555454;
$gray-text-3: #343434;
$gray-text-4: #4a4a4a;
$color-white: #fff;