$OSHebrew: 'Open Sans Hebrew', sans-serif;
$OSSimple: 'Open Sans', sans-serif;
$almoni: Almoni;

$gray-text-1: #9b9b9b;
$gray-text-2: #555454;
$gray-text-3: #343434;
$gray-text-4: #4a4a4a;
$color-white: #fff;