<div id="venue-container">
    <div class="category-container d-flex flex-column align-items-center justify-content-between">
        <div class="category-info mt-5 px-5 d-flex justify-content-between align-items-center">
                <!-- <p *ngIf="currentCategoryId === 1 || currentCategoryId === 2" translate>search-result</p> -->
            <h1 class="category-name d-flex" translate>{{currentCategoryName}} </h1>
            <img [src]="applyImgsByVenueId[0]" alt="cancel" (click)="back()">
        </div>
        <div class="category-pois d-flex justify-content-between pt-2">
            <ul class="pois" #categoryPois (scroll)="onScroll()">
                <li *ngFor="let poi of pois" class="poi d-flex justify-content-between px-4" (click)="selectPoi(poi.id)">
                    <span class="currentLanguage py-2">{{ poi.name }}</span>
                    <span class="secondaryLanguage" *ngIf="currentLanguage.name !== 'he'">{{ poi.hebrewName }}</span>
                </li>
            </ul>
            <div class="arrows-container d-flex justify-content-between flex-column align-items-center py-5">
                <div class="arrow d-flex flex-column justify-content-center align-items-center" (click)="scrollTop()"
                    [ngClass]="{'arrow-active': scrollTopActive}">
                    <img src="assets/imgs/arrow.svg" alt="arrow-up" class="arrow-icon arrow-up">
                </div>
                <div class="arrow d-flex justify-content-center flex-column align-items-center mb-5" (click)="scrollBottom()"
                    [class.arrow-active]="scrollDownActive">
                    <img src="assets/imgs/arrow.svg" alt="arrow-down" class="arrow-icon arrow-down">
                </div>
            </div>
        </div>
    </div>
</div>