.direction-component {
    width: 100%;
    height: 100%;
    #map {
        width: 100%;
        height: 100%;
    }
    .instructions-container {
        position: absolute;
        top: 17%;
        left: 6%;
        .instruction {
            display: none;
        }
    }
}