<div id="venue-container">
    <div class="d-none" id="icons-container">
        <img src="assets/imgs/start.svg" alt="" id="start-point">
        <img src="assets/imgs/point.svg" alt="" id="destination-point-circle">
        <img src="assets/imgs/route-dest.svg" alt="" id="destination-point">
    </div>
    <div class="direction-component">
        <div id="map"></div>
        <header class="header d-flex align-items-center justify-content-between px-4">
            <div class="d-flex align-items-center">
                <img src="assets/imgs/destination-panel.svg" alt="destination" class="destination-icon-header">
                <div class="d-flex flex-column align-items-start px-4">
                    <div class="poi-name">
                        {{poiData && poiData.name}}
                    </div>
                    <div class="poi-location">
                        {{poiLocation && (!poiLocation[0].propertyValue ? '' : poiLocation[0].propertyValue)}}
                    </div>
                </div>
            </div>
            <button translate class="back-btn" (click)="backToMain()">
                    back
                <img src="assets/imgs/back-arrow.png" alt="back">
            </button>
        </header>
        <div class="instructions-container" [ngClass]="{'loaded': routeLoaded}">
            <div class="instruction-header d-flex align-items-center px-3">
                <img *ngIf="initLanguage.direction === 'ltr'" src="assets/imgs/walk-right.png" alt="directionswalk-right">
                <img *ngIf="initLanguage.direction === 'rtl'" src="assets/imgs/directionswalk.svg" alt="directionswalk">
                <div class="instruction-title px-3" translate>instruction-block-title</div>
            </div>
            <ul class="m-0 p-0">
                <div class="instruction" id="start-instr">
                    <li class="level d-flex align-items-center px-3">
                        {{'floor' | translate}} {{kioskData && kioskData.entrances[0].level}}
                    </li>
                    <li class="text-instr start-text-instruction d-flex align-items-center" translate>
                        start-text
                    </li>
                </div>
                <div *ngFor="let instr of instructions; let i = index" 
                    id="{{instr && instr.instruction.instructions}}"
                    class="instruction">
                    <li *ngIf="i !== 0 && instr.instruction.level !== instructions[i-1].instruction.level" class="level d-flex align-items-center px-3">
                        {{instr.instruction.level}}
                    </li>
                    <li class="text-instr d-flex align-items-center px-3">
                        <div class="instruction-number d-flex justify-content-around align-items-center" [ngClass]="{'instruction-number-icon': hasInstructionIcon(instr.instruction.instructionsType)}">
                            {{i+1}}
                            <img src="assets/imgs/{{getIconByInstructionType(instr.instruction.instructionsType)}}" alt="instruction-icon"
                                class="px-1 icon" *ngIf="hasInstructionIcon(instr.instruction.instructionsType)">
                        </div>
                        <div class="px-3">
                            {{instr && instr.instruction.instructions}}
                        </div>
                    </li>
                </div>
                <div class="instruction" id="destination-instr">
                    <li class="level d-flex align-items-center px-3">
                        {{'floor' | translate}} {{poiData && poiData.entrances[0].level}}
                    </li>
                    <li class="text-instr d-flex align-items-center px-3">
                        <img src="assets/imgs/destination-panel.svg" alt="destination" class="destination-icon">
                        <div class="px-3">
                            {{'destination' | translate}} {{poiData && poiData.name}}
                        </div>
                    </li>
                </div>
            </ul>
            <div class="instruction-footer align-items-center px-3" id="sms-box" (click)="openModal(template)">
                <img src="assets/imgs/sms-icon.svg" alt="sms-icon" class="sms-icon">
                <div class="send-instr px-3" translate>send-instruction</div>
                <div class="input-block d-flex align-items-center justify-content-center" translate>sms-input-box</div>
            </div>
        </div>

        <!-- <div class="toggle-layers">
            <div *ngFor="let layer of layersCollection" (click)="toggle(layer)">
                {{layer.layerName}}
            </div>
        </div> -->
    </div>
    <ng-template #template>
        <div class="p-3">
            <div class="d-flex justify-content-end">
                <img src="assets/imgs/close.svg" alt="close" aria-label="Close" (click)="modalRef.hide()">
            </div>
            <div class="instruction pt-3 px-3" translate>
                sms-modal-instruction
            </div>
            <div class="d-flex justify-content-between align-items-center px-3 pt-3">
                <input type="text" class="sms-input px-2" placeholder="{{'sms-input-placeholder' | translate}}"
                    [(ngModel)]="phoneNumber">
                <button (click)="sendSms()" class="send-btn" translate>send</button>
            </div>
            <div class="d-flex flex-column justify-content-between aling-items-center custom-keyboard px-3 pt-3">
                <div class="d-flex justify-content-between align-items-center key-row">
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(1)">1</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(2)">2</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(3)">3</div>
                </div>
                <div class="d-flex justify-content-between align-items-center key-row">
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(4)">4</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(5)">5</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(6)">6</div>
                </div>
                <div class="d-flex justify-content-between align-items-center key-row">
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(7)">7</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(8)">8</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(9)">9</div>
                </div>
                <div class="d-flex justify-content-between align-items-center key-row">
                    <div class="d-flex justify-content-center align-items-center key-btn gray-btn" (click)="enterNumber('+')">+</div>
                    <div class="d-flex justify-content-center align-items-center key-btn" (click)="enterNumber(0)">0</div>
                    <div class="d-flex justify-content-center align-items-center key-btn gray-btn" (click)="enterNumber('del')"><i
                            class="material-icons">backspace</i></div>
                </div>
            </div>
        </div>
    </ng-template>
</div>