@import 'variables';

.language-panel {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 83%;
  direction: rtl !important;
  .language-btn {
    width: 12.5%;
    height: 75px;
    color: $gray-text-1;
    font-family: $OSHebrew;
    font-size: 30px;
    font-weight: bold;
    background-color: $color-white;
    box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.5);
    border-color: $color-white;
    cursor: pointer;
    .lang-icon {
      width: 25%;
    }
  }
  .hide {
    display: none;
  }
  .language-btn.active {
    background-color: #6f6f6f;
    color: white;
    border-color: #6f6f6f;
  }
  .short {
    width: 130px;
  }
}
