@import 'variables';

.language-panel {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 83%;
  direction: rtl !important;
  .language-btn {
    width: 12.5%;
    height: 75px;
    color: $gray-text-1;
    font-family: $OSHebrew;
    font-size: 30px;
    font-weight: bold;
    background-color: $color-white;
    box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.5);
    border-color: $color-white;
    cursor: pointer;
    .lang-icon {
      width: 25%;
    }
  }
  .hide {
    display: none;
  }
  .language-btn.active {
    background-color: #6f6f6f;
    color: white;
    border-color: #6f6f6f;
  }
  .short {
    width: 130px;
  }
}

.if-mobile-then {
  &.language-panel {
    transform: none;
    width: 100%;
    left: 0;
    bottom: 121px;
    flex-direction: column;
    z-index: 2;

    button {
      font-size: 12px;
      font-family: $OSHebrew;
      width: 100%;
      max-width: 90px;
      height: 30px;
      justify-content: space-between;
      align-items: center;
      padding: 3px 15px;

      img {
        width: 16px !important;
      }
    }

    button.active {
      bottom: 91px;
      position: fixed;
      display: flex;
      border-color: transparent;
      justify-content: space-around;
      padding: 0px 0px;

      &.short {
        max-width: 52px;
      }
    }
  }
}