/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
	font-family: 'Almoni';
	src: url('./assets/fonts/almoni-dl-aaa-regular.ttf');
}
html[dir="rtl"] {
    * {
        direction: rtl;
    }
    ul {
        text-align: right;
    }
}
html[dir="ltr"] {
    * {
        direction: ltr;
    }
    ul {
        text-align: left;
    }
}
body {
    padding: 0;
    margin: 0;
    font-family: Almoni;
}
.cdk-overlay-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    * {
        direction: ltr !important;
    }
}
mat-keyboard-container {
    min-width: 65% !important;
    padding: unset !important;
}
mat-keyboard-container mat-keyboard-key .mat-keyboard-key{
    padding: 1rem 0.485rem !important;
    font-size: 25px;
}
.mat-keyboard-col{
	padding: 1px !important;
}
.mat-keyboard-wrapper{
	padding:0 !important;
}