/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import "variables";
@import "variables-yafe";
@import "ltr";
@import "rtl-yafe";
@import "rtl-hagalil";
@import "rtl-ziv";
@import "hebrew";
@import "amh";
@import "ar";
@import "es";
@import "fr";
@import "pt";
@import "ru";

canvas {
  min-width: 100%;
  min-height: 100%;
}

.error-modal-outer {
  max-width: 1200px;
  margin-top: 21%;

  &:before {
    content: "";
    position: fixed;
    display: block;
    background: #4277ba;
    opacity: 0.2;
    left: -100%;
    right: -100%;
    bottom: -1000%;
    top: -1000%;
    min-width: auto;
    min-height: auto;
  }
}

.success-modal-outer {
  max-width: 600px;
  margin-top: 21%;

  &:before {
    content: "";
    position: fixed;
    display: block;
    background: #4277ba;
    opacity: 0.4;
    left: -1000%;
    right: -1000%;
    bottom: -1000%;
    top: -1000%;
    min-width: auto;
    min-height: auto;
  }
}

@font-face {
  font-family: "Almoni";
  src: url("./assets/fonts/almoni-dl-aaa-regular.ttf");
}

@font-face {
  font-family: "Noto Bold";
  src: url("./assets/fonts/NotoSansEthiopic-Bold.ttf");
}
@font-face {
  font-family: "Noto Regular";
  src: url("./assets/fonts/NotoSansEthiopic-Regular.ttf");
}
@font-face {
  font-family: "Noto SemiBold";
  src: url("./assets/fonts/NotoSansEthiopic-SemiBold.ttf");
}

@font-face {
  font-family: "Noto Medium";
  src: url("./assets/fonts/NotoSansEthiopic-Medium.ttf");
}

@font-face {
  font-family: "Lucida";
  src: url("./assets/fonts/LucidaGrande.ttf");
}

@font-face {
  font-family: "Lucida Bold";
  src: url("./assets/fonts/LucidaGrande-Bold.ttf");
}

@font-face {
  font-family: "Mariad Arabic";
  src: url("./assets/fonts/myriad-arabic-bold-2.ttf");
}
@font-face {
  font-family: "Mariad Arabic Regular";
  src: url("./assets/fonts/myriad-arabic-4.ttf");
}

@font-face {
  font-family: "OS Hebrew Bold";
  src: url("./assets/fonts/open-sans-hebrew-bold.ttf");
}

@font-face {
  font-family: "OS Hebrew";
  src: url("./assets/fonts/open-sans-hebrew.ttf");
}

@font-face {
  font-family: "OS Hebrew Extra";
  src: url("./assets/fonts/OpenSansHebrew-ExtraBold.ttf");
}

@font-face {
  font-family: "OS Hebrew Light";
  src: url("./assets/fonts/opensanshebrew-light.ttf");
}

@font-face {
  font-family: "OS Hebrew Regular";
  src: url("./assets/fonts/opensanshebrew-regular.ttf");
}

@font-face {
  font-family: "OS Regular";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OS Semibold";
  src: url("./assets/fonts/OpenSansSemibold.ttf");
}

@font-face {
  font-family: "ArialMT";
  src: url("./assets/fonts/ARIALMT.ttf");
}

// html[lang="ar"] {
//   body.hide-darkness {
//     .custom-modal {
//       .instruction {
//         font-family: $mariad;
//         font-size: 35px;
//       }

//       .send-btn, .sms-input {
//         font-family: $mariad;
//         font-size: 40px !important;
//       }
//     }
//   }

//   .highlighted {
//     font-family: $mariad-r;
//   }
// }

// html[lang="am"] {
//   body.hide-darkness {
//     .custom-modal {
//       .instruction {
//         font-family: $noto-b;
//         font-size: 28px;
//       }

//       .send-btn, .sms-input {
//         font-family: $noto-b;
//         font-size: 40px !important;
//       }
//     }
//   }

//   .highlighted {
//     font-family: $noto-r;
//   }
// }

body[venueid="18"],
body[venueid="20"] {
  .modal-backdrop {
    display: none;
  }
}

.custom-modal {
  &.custom-modal-12 {
    width: 482px;
    height: 515px;
    border: solid 1px #4a90e2;
    transform: translate(0, 50%) !important;

    .modal-content {
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      .instruction {
        font-size: 40px;
        color: #707070;
        line-height: 1;
      }
      .sms-input {
        width: 75%;
        height: 43px;
        background-color: #ffffff;
        border: none;
        font-size: 35px;
        color: #bfbdc0;
      }
      .send-btn {
        border: none;
        width: 22%;
        background-color: #4a90e2;
        height: 43px;
        font-size: 27px;
        font-weight: bold;
        color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
      .custom-keyboard {
        width: 100%;
        height: 269px;
        .key-row {
          direction: ltr;
          flex: 1;
          .key-btn {
            background-color: white;
            border: 1px solid #f0f0f0;
            flex: 1;
            height: 100%;
            font-size: 35px;
          }
          .gray-btn {
            background-color: #b9bcc0;
          }
        }
      }
    }
  }

  &.custom-modal-18,
  &.custom-modal-19,
  &.custom-modal-20,
  &.custom-modal-24 {
    margin: -60px 43px;
    width: 600px;
    max-width: 100%;
    height: auto;
    font-family: $OSHebrew;
    transform: translate(0, 50%) !important;

    .modal-content {
      background-color: #fff;
      padding: 0 7px 15px;
    }

    .sms-input {
      font-size: 40px;
      color: #4a4a4a;
      height: 78px;
      background: #d8d8d8;
      font-family: $OSHebrewExtra;
      width: 340px;
      padding-left: 15px !important;
      border: none;

      &::-webkit-input-placeholder {
        color: #4a4a4a;
      }
    }

    .send-btn {
      height: 78px;
      color: #fff;
      background: #88cc1f;
      width: 163px;
      font-family: $OSHebrewBold;
      font-size: 30px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding-top: 10px;
      border: 0;
    }

    .custom-keyboard {
      height: auto;
    }

    .key-row {
      margin-bottom: 5px;
    }

    .key-btn {
      height: 78px !important;
      font-size: 60px !important;
      font-weight: bold;
      color: #fff;
      background: #62abd0 !important;
      border-radius: 4px;
      font-family: $OSHebrewExtra;
      max-width: 165px;
      flex: 1;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    .instruction {
      color: #37557a;
      font-size: 30px;
      font-weight: bold;
      position: relative;
      display: flex;
      font-family: $OSHebrewBold;
      align-items: center;
      padding: 15px 0 0 !important;
      line-height: 1;

      &.dark-emojy:before {
        content: "";
        min-width: 50px;
        height: 50px;
        margin: 0 15px;
        background: url("./assets/imgs/hagalil/emojy.svg") no-repeat;
        background-size: 100%;
      }

      &.blue-emojy:before {
        content: "";
        min-width: 50px;
        height: 50px;
        margin: 0 15px;
        background: url("./assets/imgs/ziv/emojy.svg") no-repeat;
        background-size: 100%;
      }
    }
  }

  &.custom-modal-20 {
    .send-sms-modal-inner {
      .instruction {
        color: #5d8cc1 !important;
      }

      .send-btn {
        background: #5d8cc1;
      }

      .sms-input {
        color: #5d8cc1;
      }
    }
  }

  &.custom-modal-24 {
    .material-icons {
      font-size: 45px !important;
    }
    .send-sms-modal-inner {
      .instruction {
        font-size: 26px;
        color: #2f3181 !important;

        &.blue-emojy:before {
          background: url("./assets/imgs/poria/emojy.svg") no-repeat;
          background-size: 100%;
        }
      }

      .send-btn {
        background: #00a09f;
      }

      .sms-input {
        color: #2f3181;

        &::placeholder {
          color: #2f3181;
        }
      }
    }

    .key-btn {
      background-color: #2f3181 !important;
    }
  }
}

html[dir="rtl"] {
  * {
    direction: rtl;
  }
  ul {
    text-align: right;
  }

  .search-arrow-icon {
    transform: rotate(180deg);
  }

  .instruction {
    .text-instr:before {
      left: unset !important;
      right: 35px !important;
    }
  }
}
html[dir="ltr"] {
  * {
    direction: ltr;
  }
  ul {
    text-align: left;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  text-align: -webkit-auto !important;
  font-family: Almoni;
}

.highlighted {
  padding: 0 !important;
  background-color: transparent;
  color: #4a4a4a;
  font-family: $OSRegular;
  font-weight: 500;
}

html[lang="he"] {
  .highlighted {
    font-family: $OSHebrewLight;
  }
}

html[lang="ar"] {
  body.hide-darkness {
    .custom-modal {
      .instruction {
        font-family: $mariad;
        font-size: 35px;
      }

      .send-btn,
      .sms-input {
        font-family: $mariad;
        font-size: 40px !important;
      }
    }
  }

  .highlighted {
    font-family: $mariad-r;
  }
}

html[lang="am"] {
  body.hide-darkness {
    .custom-modal {
      .instruction {
        font-family: $noto-b;
        font-size: 28px;
      }

      .send-btn,
      .sms-input {
        font-family: $noto-b;
        font-size: 40px !important;
      }
    }
  }

  .highlighted {
    font-family: $noto-r;
  }
}

.cdk-overlay-container {
  position: fixed;
  bottom: 0;
  width: 100%;

  mat-keyboard-container {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  .mat-button-wrapper {
    font-family: $OSHebrew;
  }

  * {
    direction: ltr !important;
  }
}

.mat-keyboard-row {
  &:last-child {
    justify-content: center;

    .mat-keyboard-col {
      flex: 0.5;

      &:first-child {
        button:before {
          content: "Space";
          font-family: $OSHebrew;
          font-size: 25px;
        }
      }
    }

    .mat-keyboard-col:nth-of-type(2) {
      display: none;
    }
  }
}

mat-keyboard-container {
  min-width: 65% !important;
  padding: unset !important;
}
mat-keyboard-container mat-keyboard-key .mat-keyboard-key {
  padding: 1rem 0.485rem !important;
  font-size: 25px;
  line-height: 48px;
}
.mat-keyboard-col {
  padding: 1px !important;
}
.mat-keyboard-wrapper {
  padding: 0 !important;
}

.zoomOutDown {
  animation-name: zoomOutDown;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4) translate3d(600px, 2000px, 0);
    transform-origin: center bottom;
  }
}

.zoomInUp {
  animation-name: zoomInUp;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(2300px, 1400%, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.6, 0.6, 0.6) translate3d(0, -60px, 0);
  }
}
